@import '@/shared/style/variables.scss';

.joinUs {
	width: 100%;
	padding: 32px 0 40px 32px;
	font-family: $--open-sans-font;
	box-sizing: border-box;
	background: $--Colors-Malibu;
	border-radius: 20px;
	background-image: url('../../../shared/assets/images/join-us-background.png');
	background-repeat: no-repeat;
	background-position: right bottom;

	@media screen and (max-width: 1199px) {
		padding: 32px 0 16px 32px;
	}

	@media screen and (max-width: 779px) {
		background-image: none;
		padding: 24px;
	}
}

.joinUsTitle {
	margin: 0;
	font-size: 28px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: -0.28px;

	@media screen and (max-width: 1199px) {
		line-height: 32px;
	}

	@media screen and (max-width: 779px) {
		font-size: 21px;
		line-height: 27px;
		letter-spacing: -0.21px;
	}
}

.joinUsDescription {
	margin: 16px 0 32px 0;
	max-width: 60%;
	word-wrap: break-word;
	line-height: 24px;
	letter-spacing: 0.25px;

	@media screen and (max-width: 779px) {
		max-width: 100%;
		line-height: 22px;
		margin: 16px 0 24px 0;
	}
}
