@import '@/shared/style/variables';

.formSettings {
	display: flex;
	flex-direction: column;
	padding: 32px;
	gap: 32px;
	box-sizing: border-box;
	min-width: 816px;
	border-radius: 12px;
	border: 1px solid $--border-default;
	margin-bottom: 24px;
}

@media screen and (max-width: 779px) {
	.formSettings {
		min-width: 100%;
		border: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
