@import '../../../shared/style/variables.scss';

.container {
	margin: 0 auto;
	padding: 22px 32px;
	width: 296px;
	min-height: 196px;
	border: 1px solid $--border-default;
	border-radius: 12px;
	background-color: $--bg-primary;

	&:hover {
		border-color: $--border-card;
		background-color: $--bg-card-hover;
	}

	@media screen and (max-width: 779px) {
		padding: 16px;
		width: 280px;
		min-height: 145px;
	}
}

%text {
	margin: 0;
	font-family: $--open-sans-font;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px; /* 135.714% */
	letter-spacing: 0.25px;
}

.datetext {
	@extend %text;
	color: $--foreground-muted;
	margin: 0;
}

.direction {
	@extend %text;
	color: $--Foreground-default;
	//	margin: 8px 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.date {
	display: flex;
	align-items: center;
	column-gap: 7px;
}

.title {
	margin: 24px 0 8px;
	color: $--Foreground-default;
	font-family: $--open-sans-font;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px; /* 125% */
	overflow: hidden;
	text-overflow: ellipsis;

	@media screen and (max-width: 779px) {
		margin: 16px 0 0;
		font-size: 16px;
		font-weight: 700;
		line-height: normal;
	}
}

.link {
	padding: 0 8px;
	text-decoration: none;
	color: $--Foreground-link-default;
	font-family: $--open-sans-font;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.25px;
	cursor: pointer;

	@media screen and (max-width: 779px) {
		text-decoration-line: underline;
	}
}

.tags {
	margin: 16px 0 24px;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8px;
	@media screen and (max-width: 779px) {
		margin: 16px 0 16px;
	}
}
%tag {
	padding: 4px 12px;
	color: $--Foreground-default;
	display: inline-block;
	border-radius: 20px;
	white-space: nowrap;
}

%text {
	margin: 0;
	font-family: $--open-sans-font;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px; /* 135.714% */
	letter-spacing: 0.25px;
}

.tag {
	@extend %text, %tag;
	border: 1px solid #e2e8f0;
}
.linkProject {
	text-decoration: none;
	color: $--Foreground-default;
}
.popupSubtitle {
	align-self: flex-start;
	margin-top: 8px;
	color: $--Foreground-default;
	font-family: $--open-sans-font;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.25px;
}
.popupButton {
	align-self: flex-start;
	margin-top: 32px;
}
