.login__container {
	background-image: url('../../images/background2.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	max-width: 100vw;
	min-height: 968px;
	display: flex;
	padding: 72px 32px;
	gap: 105px;
	box-sizing: border-box;
}

.login__logo {
	padding: 54px 0 0 348px;
	max-height: 110px;
	box-sizing: border-box;
}
