.container {
	margin: 0;
	padding: 0;
	width: auto;
	box-shadow: none;
	background: transparent;
}
.body {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
}
