@import '@/shared/style/variables';
.profileLink {
	//	min-width: 760px;
	box-sizing: border-box;
	width: 100%;
	&__link {
		display: none;
	}
	&__title {
		display: none;
	}
}

@media screen and (max-width: 1199px) {
	.profileLink {
		&__link {
			margin-top: 8px;
			margin-bottom: 24px;
			display: flex;
			align-items: center;
			gap: 8px;
			text-decoration: none;
			color: $--Foreground-link-default;
			font-size: 16px;
			font-family: $--open-sans-font;
			font-style: normal;
			font-weight: 400;
			line-height: 24px; /* 150% */
			letter-spacing: 0.25px;
		}
		&__title {
			display: block;
			margin: 0 0 32px 0;
			font-family: $--open-sans-font;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.25px;
		}
		&__iconLeft {
			width: 24px;
			height: 24px;
		}
	}
}
@media screen and (max-width: 779px) {
	.profileLink {
		padding: 20px 32px 0 32px;
		//	min-width: 100%;
		&__link {
			margin-top: 0;
		}
		&__title {
			max-width: 100px;
			margin: 0;
		}
	}
}
