@import '../../../shared//style/variables.scss';
// .profileSettings {
// 	&__profileLink {
// 		width: 100%;
// 	}
// }

.profileEdit {
	// width: 100%;
	&__profileLink {
		width: 100%;
	}
}
.fields {
	display: flex;
	flex-direction: column;
	padding: 32px;
	gap: 16px;
	box-sizing: border-box;
	// min-width: 752px;
	border-radius: 12px;
	border: 1px solid $--border-default;
	margin-bottom: 24px;

	@media screen and (max-width: 779px) {
		border: none;
	}

	&__nameWrapper {
		display: flex;
		flex-direction: row;
		column-gap: 8px;
		width: 100%;
		@media screen and (max-width: 779px) {
			flex-direction: column;
			row-gap: 16px;
		}
	}
	&__nameInput {
		width: 100%;
	}

	&__portfolioLinkTextValue {
		width: 100%;
	}

	&__contactsTitle {
		color: $--Foreground-default;
		font-family: $--open-sans-font;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
		letter-spacing: 0.25px;
	}
	&__addContactWrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 8px;
		@media screen and (max-width: 779px) {
			flex-direction: column;
		}
	}
	&__addContactType {
		width: 228px;
		height: 40px;
		border-radius: 8px;
		border: 1px solid $--border-default;
		background: $--bg-primary;
		padding: 8px 12px;
		color: $--Foreground-default;
		font-feature-settings:
			'liga' off,
			'clig' off;
		font-family: $--open-sans-font;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
		letter-spacing: 0.25px;
		@media screen and (max-width: 779px) {
			width: 100%;
		}
	}

	&__addContactTypeWrapper {
		display: flex;
		flex-direction: column;
	}

	&__addContactTextValue {
		min-height: 40px;
		width: 100%;
	}

	&__addContactTypeLabel {
		color: $--Foreground-subtitle;
		font-feature-settings:
			'liga' off,
			'clig' off;
		font-family: $--open-sans-font;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 19px; /* 135.714% */
		letter-spacing: 0.25px;
	}
	&__datePickerWrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__datePickerTitle {
		display: inline-block;
		// margin-bottom: 8px;
		color: $--Foreground-default;
		font-feature-settings:
			'clig' off,
			'liga' off;
		font-family: $--open-sans-font;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.25px;
	}

	&__datePickerInput {
		width: calc(100% - 24px);
		display: flex;
		min-height: 24px;
		padding: 8px 12px;
		align-items: center;
		gap: 8px;
		align-self: stretch;
		border-radius: 8px;
		border: 1px solid $--border-default;
		background: $--bg-primary;
		outline: none;
		color: $--Foreground-default;
		font-feature-settings:
			'clig' off,
			'liga' off;
		font-family: $--open-sans-font;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.25px;
	}
	&__locationWrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 8px;
		outline: none;
	}
	&__locationCity {
		width: 100%;
		outline: none;
		height: 24px;
	}
	&__countryName {
		width: 100%;
		border-radius: 8px;
		border: 1px solid $--border-default;
		background: $--bg-primary;
		display: flex;
		min-height: 40px;
		padding: 8px 12px;
		color: $--Foreground-default;
		font-feature-settings:
			'clig' off,
			'liga' off;
		font-family: $--open-sans-font;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.25px;
	}
	&__participate {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}
	&__participateTitle {
		color: $--Foreground-default;
		font-feature-settings:
			'clig' off,
			'liga' off;
		font-family: $--open-sans-font;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.25px;
	}
}
