$--Colors-Light-Lilac: #b496ff;
$--Colors-Green: #52d97b;
$--Colors-Pastel-Green: #65d587;
$--Colors-Red: #ff3b30;
$--Colors-Orange: #ff9500;
$--Colors-Dark-Red: #c6140a;
$--Colors-Dark-Orange: #d27c04;
$--Colors-ornflower: #879dff;
$--Colors-Royal: #535bda;
$--Colors-Electric: #007bfe;
$--Colors-Ultramarine: #0013ff;
$--Colors-Sea-wave: #006167;
$--Colors-Lilac: #6d1cc7;
$--Colors-Sapphire: #033ba9;
$--Colors-Social-media-VK: #0058b7;

$--Neutral-Black: #1c1c1e;
$--Neutral-Dark-Grey: #676767;
$--Neutral-Medium-Grey: #8e8e93;
$--Neutral-Grey: #aeaeb2;
$--Neutral-Light-Grey-01: #d3d7dd;
$--Neutral-Light-Grey-02: #f2f2f2;
$--Neutral-Light-Grey-03: #475569;
$--Neutral-White: #fefefe;
$-Neutral-BG-card: rgba(254, 254, 254, 0.8);
$--Colors-Zumthor: #e8eeff;
$--Colors-Sulu: #b9f18c;
$--Colors-Rajah: #f6bd60;
$--Colors-Malibu: #8caaff;
$--Colors-Prelude: #cdb4db;
$--Colors-Froly: #f28482;
$--Colors-Anakiwa: #a2d2ff;
$--Transparent: transparent;

$--Foreground-default: #020617;
$--Foreground-error: #e86262;
$--Foreground-error-default: #e75757;
$--Foreground-subtitle: #94a3b8;
$--Foreground-link-default: #0075ff;
$--Foreground-inverse: #feffff;
$--Foreground-muted: #475569;
$--Foreground-tertiary-button-pressed: #afbffe;
$--Foreground-tertiary-button-hover: #8caaff;

$--bg-primary: #feffff;
$--bg-accent-inverse: #8caaff;
$--border-default: #e2e8f0;
$--foreground-muted: #475569;
$--border-card: #5677fc;
$--bg-card-hover: #e8eeff;
$--box-shadow: rgba(62, 56, 56, 0.05);

$--inter-font: 'Inter', sans-serif;
$--montserrat-font: 'Montserrat', sans-serif;
$--open-sans-font: 'Open Sans', sans-serif;

$--bg-accent-default: #5677fc;
$--bg-accent-hover: #6e8afb;
$--bg-accent-pressed: #8caaff;

$--bg-disabled: #94a3b8;
$--bg-secondary: #e2e8f0;
$--bg-pressed: #1e293b;
$--bg-hover: #475569;
$--foreground-error-default: #e75757;
$--border-error-hover: #f28482;
$--border-error-pressed: #f3a9a9;
$--bg-card-hover: #e8eeff;
$--bg-status-draft: #f6bd60;
