$--Colors-Light-Lilac: #B496FF;
$--Colors-Green: #52D97B;
$--Colors-Red: #FF3B30;
$--Colors-Orange: #FF9500;
$--Colors-Dark-Red: #C6140A;
$--Colors-Dark-Orange: #D27C04;
$--Colors-ornflower: #879DFF;
$--Colors-Royal: #535BDA;
$--Colors-Electric: #007BFE;
$--Colors-Ultramarine: #0013FF;
$--Colors-Sea-wave: #006167;
$--Colors-Lilac: #6D1CC7;
$--Colors-Sapphire: #033BA9;
$--Colors-Social-media-VK: #0058B7;

$--Neutral-Black: #1C1C1E;
$--Neutral-Dark-Grey: #676767;
$--Neutral-Medium-Grey: #8E8E93;
$--Neutral-Grey: #AEAEB2;
$--Neutral-Light-Grey-01: #D3D7DD;
$--Neutral-Light-Grey-02: #F2F2F2;
$--Neutral-White: #FEFEFE;
$-Neutral-BG-card: rgba(254, 254, 254, 0.80);

$--Foreground-default: #020617;
$--Foreground-error: #e86262;
$--Foreground-subtitle: #94a3b8;
$--Foreground-link-default: #5677fc; 

$--Foreground-default: #020617;
$--Foreground-error: #e86262;
$--Foreground-subtitle: #94a3b8;
$--Foreground-link-default: #5677fc; 

