$--Light-lilac: rgb(180, 150, 255);
$--Green: rgb(82, 217, 123);
$--Red: rgb(255, 59, 48);
$--Orange: rgb(255, 149, 0);
$--Dark-orange: rgb(210, 124, 4);
$--Сornflower: rgb(135, 157, 255);
$--Royal: rgb(83, 91, 218);
$--Electric: rgb(0, 123, 254);
$--Ultramarine: rgb(0, 19, 255);
$--Lilac: rgb(109, 28, 199);
$--Sea-wave: rgb(0, 97, 103);
$--Sapphire: rgb(3, 59, 169);
$--Social-media-VK: rgb(0, 88, 183);

$--Black: rgb(28, 28, 30);
$--Dark-grey: rgb(103, 103, 103);
$--Medium-grey: rgb(142, 142, 147);
$--Grey: rgb(174, 174, 178);
$--Light-grey-01: rgb(211, 215, 221);
$--Light-grey-02: rgb(242, 242, 242);
$--White: rgb(254, 254, 254);
$--BG-card: rgba(254, 254, 254, 0.8);

$--Foreground-default: #020617;
$--Foreground-error: #e86262;
$--Foreground-subtitle: #94a3b8;
$--Foreground-link-default: #5677fc; 

