@import '@/shared//style//variables.scss';

.mainContainer {
	max-width: 1160px;
	width: 100%;
	flex: 1;

	@media screen and (max-width: 1199px) {
		width: 100%;
		max-width: 780px;
	}

	@media screen and (max-width: 779px) {
		max-width: 500px;
	}
}

.promoSection {
	margin-top: 48px;

	@media screen and (max-width: 1199px) {
		margin-top: 16px;
	}

	@media screen and (max-width: 779px) {
		margin-top: 0;
		padding: 0 16px;
	}
}

.currentProjectsContainer {
	margin: 120px auto;

	@media screen and (max-width: 1199px) {
		margin: 48px auto;
		max-width: 756px;
	}

	@media screen and (max-width: 779px) {
		margin: 24px auto;
		padding: 0 16px;
	}
}

.joinUsSection {
	margin-bottom: 120px;

	@media screen and (max-width: 1199px) {
		margin-bottom: 48px;
	}

	@media screen and (max-width: 779px) {
		margin-bottom: 32px;
		padding: 0 16px;
	}
}
