@import '../../../shared//style//variables.scss';

.main-container {
	max-width: 1160px;
	width: 100%;
	flex: 1;

	@media screen and (max-width: 1199px) {
		width: 100%;
		max-width: 780px;
	}

	@media screen and (max-width: 779px) {
		max-width: 500px;
	}
}

.promo-section {
	margin-top: 48px;

	@media screen and (max-width: 1199px) {
		margin-top: 56px;
	}

	@media screen and (max-width: 779px) {
		margin: 32px 16px;
	}
}

.current-projects-container {
	margin: 120px auto;

	@media screen and (max-width: 1199px) {
		margin: 80px auto;
		margin-bottom: 0;
		max-width: 756px;
	}

	@media screen and (max-width: 779px) {
		margin-bottom: 0;
		padding: 0 16px;
	}
}

.join-us-section {
	margin-bottom: 120px;

	@media screen and (max-width: 1199px) {
		margin: 48px 0;
	}

	@media screen and (max-width: 779px) {
		margin: 24px 16px 32px 16px;
	}
}
