.mainContainer {
	max-width: 1160px;
	margin: 0 auto;
}

@media screen and (max-width: 1200px) {
	.mainContainer {
		max-width: 780px;
	}
}

@media screen and (max-width: 779px) {
	.mainContainer {
		max-width: 360px;
	}
}
