@import '@/shared/style/variables.scss';
%baseText {
	color: $--Foreground-default;
	font-family: $--open-sans-font;
	margin: 0;
	font-style: normal;
}
.specialist {
	display: flex;
	border-radius: 12px;
	border: 1px solid #e2e8f0;
	padding: 32px;

	&__info {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
.info {
	&__person {
		display: flex;
		gap: 16px;
		border-bottom: 1px solid $--Foreground-subtitle;
		position: relative;
	}
	&__personImage {
		width: 92px;
		height: 92px;
	}
	&__personDescription {
		display: flex;
		flex-direction: column;
		gap: 8px;
		flex-wrap: wrap;
	}
	&__personStatus {
		display: flex;
		gap: 8px;
		align-items: center;
	}
	&__statusIcon {
		width: 16px;
		height: 16px;
		color: $--Colors-Pastel-Green;
	}
	&__statusTitle {
		@extend %baseText;
		color: $--foreground-muted;
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		letter-spacing: 0.25px;
	}
	&__name {
		@extend %baseText;
		font-size: 24px;
		font-weight: 600;
		line-height: 30px;
	}
	&__nickname {
		@extend %baseText;
		font-size: 16px;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.25px;
		margin-bottom: 16px;
	}
	&__role {
		@extend %baseText;
		font-size: 16px;
		font-weight: 700;
		line-height: normal;
		margin-top: 16px;
	}
	&__skillsList {
		display: flex;
		flex-wrap: wrap;
		padding: 9px 0 0;
		margin: 0 0 24px 0;
		list-style: none;
	}
	&__skill {
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		letter-spacing: 0.25px;
		margin: 8px 8px 0 0;
		padding: 4px 13px;
		white-space: nowrap;
		border-radius: 20px;
		border: 1px solid $--border-default;
	}
	&__likeContainer {
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 50%;
		border: 1px solid $--border-default;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 779px) {
	.specialist {
		padding: 16px;
	}
	.info {
		&__name {
			font-size: 20px;
			font-weight: 700;
		}
		&__person {
			gap: 8px;
		}
		&__personImage {
			width: 48px;
			height: 48px;
		}
		&__likeContainer {
			width: 20px;
			height: 20px;
		}
		&__likeIcon {
			width: 16px;
			height: 16px;
		}
	}
}
