@import '@/shared/style/variables';
.favorites {
    display: flex;
    flex-direction: column;
    //max-width: 816px;
    width: 816px;
    min-height: 100vh;
    gap: 24px;
}

@media screen and (max-width: 1199px) {
    .favorites {
        width: 780px;
    }
}
@media screen and (max-width: 779px) {
    .favorites {
        max-width: 100%;
        padding: 0 16px 32px;
    }
   
}
