@import '@/shared/style/variables';
.favorites {
    display: flex;
    flex-direction: column;
    //max-width: 816px;
    width: 816px;
    gap: 24px;
}

.linksContainer {
    display: flex;
}
.link {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    align-items: center;
    font-family: $--open-sans-font;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.25px;
    font-size: 16px;
    color: $--Foreground-subtitle
}
.linkActive {
    border-bottom: 3px solid $--Foreground-default;
    color: $--Foreground-default;
}
.inputSearch {
    width: 396px;
}

@media screen and (max-width: 1199px) {
    .favorites {
        width: 780px;
    }
}
@media screen and (max-width: 779px) {
    .favorites {
        max-width: 100%;
    }
}