@import '@/shared/assets/fonts/fonts.css';
@import '@/shared/style/variables';

.container {
	max-width: 816px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 21px;

	@media screen and (max-width: 779px) {
		gap: 13px;
		max-width: 779px;
	}
}

.title {
	margin: 0;
}

.input_list {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;

	&_title {
		margin: 0;
		font-family: $--open-sans-font;
		font-weight: 700;
		font-size: 16px;
		font-style: normal;
		line-height: 150%;
	}
}

.input_extra {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-family: $--open-sans-font;
	font-weight: 700;
	margin-top: 8px;
}

.directions,
.employment {
	width: 100%;

	&_list {
		width: 100%;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 18px;
	}

	&_item {
		list-style: none;
		padding: 0;
	}
}

.specialists {
	width: 100%;
	font-family: $--open-sans-font;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	gap: 24px;

	&_toggle {
		display: flex;
		gap: 16px;
		align-items: center;
	}

	&_buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 32px;
	}
}

.dates {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;

	&_inputs {
		//		margin: 0 0 16px 0;
		display: flex;
		gap: 8px;
	}

	&_input {
		width: 100%;
	}

	&_text {
		margin: 0 0 8px 0;
		font-family: $--open-sans-font;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
		letter-spacing: 0.25px;
	}
}

.contacts {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;

	&_selects {
		display: grid;
		gap: 8px;
		grid-template-columns: 228px auto;
		height: 70px;
	}
}

.buttons {
	margin-top: 20px;
	display: flex;
	gap: 16px;
}

.fields {
	display: flex;
	flex-direction: column;
	padding: 32px;
	gap: 16px;
	box-sizing: border-box;
	// min-width: 752px;
	border-radius: 12px;
	border: 1px solid $--border-default;
	margin-bottom: 24px;

	@media screen and (max-width: 779px) {
		border: none;
	}

	&__addContactWrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 8px;
		@media screen and (max-width: 779px) {
			flex-direction: column;
		}
	}
	&__addContactType {
		width: 228px;
		height: 40px;
		border-radius: 8px;
		border: 1px solid $--border-default;
		background: $--bg-primary;
		padding: 8px 12px;
		color: $--Foreground-default;
		font-feature-settings:
			'liga' off,
			'clig' off;
		font-family: $--open-sans-font;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
		letter-spacing: 0.25px;
		@media screen and (max-width: 779px) {
			width: 100%;
		}
	}

	&__addContactTypeWrapper {
		display: flex;
		flex-direction: column;
	}

	&__addContactTextValue {
		min-height: 40px;
		width: 100%;
	}

	&__addContactTypeLabel {
		color: $--Foreground-subtitle;
		font-feature-settings:
			'liga' off,
			'clig' off;
		font-family: $--open-sans-font;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 19px; /* 135.714% */
		letter-spacing: 0.25px;
	}
	
}
