@import '@/shared/style/variables.scss';

.currentProjects {
	font-family: $--open-sans-font;
}

.projectCards {
	width: 100%;
	min-height: 576px;
	padding: 24px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 24px;

	@media screen and (max-width: 1199px) {
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (max-width: 779px) {
		grid-template-columns: 1fr;
		grid-gap: 16px;
	}
}

.header {
	margin: 0;
	font-size: 28px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: -0.28px;
	margin: 0 0 24px 0;

	@media screen and (max-width: 779px) {
		font-size: 20px;
		line-height: normal;
		letter-spacing: 0.25px;
		margin: 0 0 16px 0;
	}
}

%text {
	margin: 0;
	font-size: 16px;

	line-height: 24px;
	letter-spacing: 0.25px;
}

.text {
	@extend %text;
	display: inline;

	@media screen and (max-width: 779px) {
		display: none;
	}
}

.textMobile {
	@extend %text;
	display: none;

	@media screen and (max-width: 779px) {
		display: inline;
		font-size: 16px;
		line-height: 22px;
	}
}

.showAll {
	width: 200px;

	@media screen and (max-width: 779px) {
		display: none;
	}
}
