@import '@/shared/style/variables';

.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
	align-items: center;
	position: relative;
}
.icon {
	width: 96px;
	height: 96px;
}
.iconLink {
	width: 96px;
	height: 96px;
	border-radius: 96px;
	border: 2px solid #a2d2ff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.tag {
	font-family: $--open-sans-font;
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0.25px;
	margin: 0;
	padding: 4px 12px;
	white-space: nowrap;
	border-radius: 20px;
	letter-spacing: 0.25px;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 116px;
	box-sizing: border-box;
}
.link {
	text-decoration: none;
	width: 100%;
	height: 100%;
	position: absolute;
}
.hint {
	position: absolute;
	bottom: -20px;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition:
		opacity 0.2s,
		visibility 0.2s;
}
.hintOverlay {
	min-width: 120px;
	background-color: $--bg-card-hover;
	padding: 16px;
	border-radius: 12px;
	position: relative;
}
.hintImage {
	position: absolute;
	top: -17px;
	left: 40%;
	width: 40px;
	height: 20px;
}
.hintSpan {
	font-family: $--open-sans-font;
	font-weight: 400;
	line-height: 19px;
	font-size: 14px;
	letter-spacing: 0.25px;
	color: $--Foreground-default;
}
.container:hover .hint {
	visibility: visible;
	opacity: 100%;
}
