@import '@/shared/style/variables';

.formSettings {
	display: flex;
	flex-direction: column;
	padding: 32px;
	gap: 32px;
	box-sizing: border-box;
	min-width: 816px;
	border-radius: 12px;
	border: 1px solid $--border-default;
	margin-bottom: 24px;

	&__title {
		display: block;
		color: $--Foreground-default;
		font-family: $--open-sans-font;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.25px;
		margin: 0;
	}

	&__input {
		font-family: $--open-sans-font;
		color: $--Foreground-default;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
		letter-spacing: 0.25px;
	}
	&__listPassword {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	&__button {
		position: relative;
	}
	&__buttonError {
		padding: 0;
		margin: 0;
		position: absolute;
		top: 40px;
		left: 0;
		font-family: $--open-sans-font;
		color: $--Foreground-error;
		font-size: 14px;
		line-height: 24px;
	}
}

@media screen and (max-width: 779px) {
	.profileSettings {
		min-width: 100vw;
		margin-bottom: 0;
	}
	.formSettings {
		min-width: 100%;
		border: none;
		margin-bottom: 0;
		padding-bottom: 0;
		&__button {
			margin-bottom: 24px;
		}
	}
}
