@import '@/shared/style/variables.scss';

%baseText {
	color: $--Foreground-default;
	font-family: $--open-sans-font;
	margin: 0;
	font-style: normal;
}

%secondaryText {
	color: $--Foreground-muted;
	font-family: $--open-sans-font;
	margin: 0;
	font-style: normal;
}
	
.specialist__info {
		display: flex;
		flex-direction: column;
		width: 100%;
}

.info {
	&__person {
		display: flex;
		position: relative;
		margin-bottom: 32px;
	}
	&__avatar {
		margin-right: 16px;
	}
	&__personDescription {
		display: flex;
		flex-direction: column;
		gap: 8px;
		flex-wrap: wrap;
	}
	&__personStatus {
		display: flex;
		gap: 8px;
		align-items: center;
	}
	&__statusIcon {
		width: 16px;
		height: 16px;
		color: $--Colors-Pastel-Green;
	}
	&__statusTitle {
		@extend %baseText;
		color: $--foreground-muted;
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		letter-spacing: 0.25px;
	}
	&__name {
		@extend %baseText;
		font-size: 24px;
		font-weight: 600;
	}
	&__nickname {
		@extend %secondaryText;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.25px;
	}
	&__skill {
		@extend %baseText;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.25px;
		margin: 8px 8px 0 0;
	}
	&__role {
		@extend %baseText;
		font-size: 16px;
		font-weight: 700;
		gap: 5px;
		display: flex;
		flex-wrap: wrap;
	}

	&__title {
		@extend %baseText;
		font-size: 20px;
		font-weight: 700;
		line-height: 19px;
		letter-spacing: 0.25px;
		padding-bottom: 8px;
	}

	&__skillsList {
		display: flex;
		flex-wrap: wrap;
		padding: 9px 0 0;
		margin: 0 0 24px 0;
		list-style: none;
	}
	&__sideText {
		@extend %baseText;
		max-width: 1096px;
		font-size: 16px;
		font-weight: 400;
		display: flex;
		flex-direction: column;
		text-wrap: wrap;
	}
	&__wrapper {
		margin-bottom: 32px;
		max-width: 100%;
	}

	&__contacs__wrapper {
		display: flex;

	}

	&__contacts {
		@extend %baseText;
		font-size: 16px;
		width: 280px;

		overflow: hidden;
		white-space: nowrap;
		font-weight: 400;
		color: #0075ff;
		display: flex;
		align-items: center;
		justify-content: start;
		margin: 0 8px 8px 0;
	}
	&__icons {
		font-size: 24px;
		margin-right: 8px;
	}

	&__likeContainer {
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 50%;
		border: 1px solid $--border-default;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 1199px) {
	.specialists {
		max-width: 780px;
	}
}

@media screen and (max-width: 779px) {
	.specialist {
		max-width: 90vw;
		padding: 16px;
	}
	.info {
		&__personDescription {
			justify-content: start;
			gap: 8px;
		}
		&__name {
			font-size: 20px;
			font-weight: 700;
		}
		&__avatar {
			margin-right: 8px;
		}
		&__person {
			gap: 8px;
		}
		&__personImage {
			width: 48px;
			height: 48px;
		}
		&__likeContainer {
			width: 20px;
			height: 20px;
		}
		&__likeIcon {
			width: 16px;
			height: 16px;
		}
	}
}
