.container {
	display: flex;
	flex-direction: column;
	gap: 24px;

	max-width: 816px;
	border: 1px solid var(--border-default, #e2e8f0);
	position: relative;

	padding: 24px;
	border-radius: 12px;
}

.icon {
	width: 24px;
	height: 24px;
}

.title {
	margin: 0;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.25px;
}

.card_button {
	position: absolute;
	right: 24px;
	top: 24px;

	background-color: transparent;
	border: none;
	cursor: pointer;
}

.config {
	display: flex;
	justify-content: space-between;

	&_toggle {
		display: flex;
		gap: 16px;
		align-items: center;
	}
}
