@import '@/shared/style/variables.scss';

.card {
	width: auto;
	display: flex;
	border-radius: 12px;
	border: 2px solid $--border-default;
	height: auto;
	padding: 32px;
	margin-bottom: 32px;
	flex-wrap: wrap;
}
