@import '@/shared/assets/fonts/fonts.css';
@import '@/shared/style/variables';

.container {
	max-width: 560px;
	width: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	gap: 21px;

	@media screen and (max-width: 779px) {
		gap: 13px;
		max-width: 779px;
	}
}

.title {
	margin: 0;
	color: $--Foreground-default;
	text-align: center;
	font-family: $--open-sans-font;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.25px;

	&_message {
		display: block;
		margin: -13px 0 5px 0;
		text-align: center;
		font-family: 'Open Sans', serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
		letter-spacing: 0.25px;

		@media screen and (max-width: 779px) {
			margin: -18px 0 -9px 0;
			font-size: 14px;
		}
	}

	@media screen and (max-width: 779px) {
		margin: 1px 0 -9px 0;
		font-family: 'Open Sans', serif;
		font-size: 20px;
		line-height: normal;
		letter-spacing: 0.25px;
	}
}

.input_list {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.iconsButtons_line {
	width: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
	color: $--Foreground-default;
	font-family: 'Open Sans', serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.25px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		width: calc(50% - 23px); /* Расстояние от края до линии */
		height: 1px; /* Толщина линии */
		background: rgba(148, 163, 184, 0.2); /* Цвет линии */
	}

	&:before {
		left: 0;
	}

	&:after {
		right: 0;
	}

	@media screen and (max-width: 779px) {
		margin: -10px 0 10px 0;
	}
}

.text_login {
	margin: 3px 0 0 0;
	color: $--Foreground-default;
	font-family: 'Open Sans', serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.25px;
	text-align: center;
}

.link_login {
	margin: 0 8px 0 8px;

	color: $--Foreground-link-default;
	text-decoration: none;
	font-family: 'Open Sans', serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.25px;
}

.text_registration {
	margin: 3px 0 0 0;
	color: $--Foreground-default;
	font-family: 'Open Sans', serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.25px;
	text-align: center;
}

.link_registration {
	margin: 0 8px 0 8px;
	color: $--Foreground-link-default;
	text-decoration: none;
	font-family: 'Open Sans', serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.25px;

	@media screen and (max-width: 779px) {
		margin: -6px 8px 0 8px;
	}
}

.text_policy {
	margin: 2px 0 0 0;
	text-align: center;
	color: $--Foreground-default;
	font-family: 'Open Sans', serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0.25px;
}

.link_policy {
	margin: 0;

	color: $--Foreground-link-default;
	font-feature-settings:
		'clig' off,
		'liga' off;
	text-decoration: none;
	font-family: 'Open Sans', serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0.25px;
}

.server_error {
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: -45px;
	font-family: $--open-sans-font;
	color: $--Foreground-error;
	font-size: 14px;
	line-height: 24px;
}
