/* сброс стандартных стилей */
@import url('../shared/style/normalize.css');

/* подключение переменных */
/* @import url('../shared/style/variables.scss'); */

/* Подключение шрифтов  */
@import url('../shared/assets/fonts/fonts.css');

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
}
