@import '@/shared/style/variables.scss';

%baseButtonLikeStyle {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: transparent;
}
%baseHeartIconStyle {
	width: 20px;
	height: 20px;
}
// variant 'primary'
.buttonLikePrimary {
	@extend %baseButtonLikeStyle;
	background-color: $--Foreground-default;
	border: none;
	&:hover {
		box-shadow: 0px 0px 6px 0px rgba(132, 129, 255, 0.5);
	}
	&:active {
		background-color: $--bg-pressed;
	}
	&:disabled {
		background-color: $--bg-disabled;
	}
}

.iconHeartPrimary {
	@extend %baseHeartIconStyle;
	fill: $--Foreground-inverse;
}
.iconHeartPrimaryDisabled {
	@extend %baseHeartIconStyle;
	fill: $--Foreground-muted;
}

// variant 'secondary'
.buttonLikeSecondary {
	@extend %baseButtonLikeStyle;
	border: 1px solid $--border-default;
	&:hover {
		box-shadow: 0px 0px 6px 0px rgba(132, 129, 255, 0.5);
	}
	&:active {
		border: 1px solid $--bg-accent-pressed;
	}
	&:disabled {
		box-shadow: none;
		border: none;
	}
}
.iconHeartSecondary {
	@extend %baseHeartIconStyle;
	fill: $--foreground-muted;
}
.iconHeartSecondaryDisabled {
	@extend %baseHeartIconStyle;
	fill: $--Foreground-subtitle;
}

// variant 'trivial'
.buttonLikeTrivial {
	@extend %baseButtonLikeStyle;
	border: none;
}

.iconHeartTrivial {
	@extend %baseHeartIconStyle;
	fill: $--foreground-muted;
	&:hover {
		fill: $--Foreground-default;
	}
	&:active {
		fill: $--Foreground-subtitle;
	}
}

// active styles

.buttonLikeActive {
	background-color: $--bg-card-hover;
	&:active {
		background-color: $--bg-card-hover;
	}
}
.iconActive {
	@extend %baseHeartIconStyle;
	fill: $--Foreground-link-default;
	&:hover {
		fill: $--Foreground-tertiary-button-hover;
	}
	&:active {
		fill: $--Foreground-tertiary-button-pressed;
	}
}

.popupSubtitle {
	align-self: flex-start;
	margin-top: 8px;
	color: $--Foreground-default;
	font-family: $--open-sans-font;
	font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.25px;
}
.popupButton {
	align-self: flex-start;
	margin-top: 32px;
}
