@import '@/shared/style/variables';

.favoritesSpecialists {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.inputSearch {
	width: 396px;
}

.textContainer {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.text {
	color: $--Foreground-default;
	font-family: $--open-sans-font;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.25px;
	margin: 0;
}
.subtitle {
	margin: 0;
	color: $--Foreground-default;
	font-family: $--open-sans-font;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.25px;
}

@media screen and (max-width: 490px) {
	.inputSearch {
		width: 300px;
	}
}
