@import '../../../shared/style/variables.scss';

.tags {
	margin: 16px 0 24px;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	gap: 8px;
	@media screen and (max-width: 400px) {
		margin: 16px 0 16px;
	}
}

%tag {
	padding: 4px 12px;
	color: $--Foreground-default;
	display: inline-block;
	border-radius: 20px;
	white-space: nowrap;
}

%text {
	margin: 0;
	font-family: $--open-sans-font;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px; /* 135.714% */
	letter-spacing: 0.25px;
}

.tag {
	@extend %text, %tag;
	background-color: #b9f18c;
}

.more {
	@extend %text, %tag;
	background-color: transparent;
	border: 1px solid $--border-default;
}
