@import '../../../shared/style/variables.scss';

.header {
	display: flex;
	padding: 24px 0;

	&__container {
		display: flex;
		justify-content: space-between;
		width: 1161px;
	}

	&__wrapper {
		display: flex;

		align-items: center;
		border-radius: 100px;
		padding: 8px;
		background-color: $--Black;

		gap: 56px;
	}
	&__link {
		width: 195px;
		height: 50px;
	}


}
