@import '../../../shared/style/variables.scss';

.header {
	padding: 24px 380px;
	display: flex;

	&__container {
		display: flex;
		gap: 194px;
	}

	&__wrapper {
		display: flex;

		align-items: center;
		border-radius: 100px;
		padding: 8px;
		background-color: $--Black;

		gap: 56px;
	}
	&__link {
		width: 195px;
		height: 50px;
	}

	&__navList {
		display: flex;
		gap: 32px;
		margin: 0;
		padding: 0;
		align-items: center;
	}

	&__navItem {
		list-style: none;
		color: $--White;
		font-family: 'Open Sans';
		font-size: 22px;
		font-weight: 400;
		line-height: 32px;
	}
}
