@import '@/shared/style/variables.scss';

.promo {
	display: grid;
	grid-template-areas:
		'header header'
		'bottom info';
	grid-template-rows: 55% 45%;
	grid-template-columns: 2fr 1.15fr;
	height: 498px;
	box-sizing: border-box;
	border-radius: 35px;
	background: $--Neutral-Light-Grey-02;
	background-image: url('../../../shared/assets/images/promo-background.png');
	background-size: auto;
	padding: 24px;

	@media screen and (max-width: 1199px) {
		grid-template-rows: 60% 40%;
		grid-template-columns: 2fr 1.2fr;
		max-height: 380px;
		background-image: url('../../../shared/assets/images/promo-background-small.png');
		background-size: auto;
	}

	@media screen and (max-width: 779px) {
		max-height: 302px;
		display: flex;
		flex-direction: column;
		background: none;
		border-radius: 0;
		padding: 0;
	}

	&-header {
		grid-area: header;

		&-title {
			margin: 0;
			width: 60%;
			font-family: $--montserrat-font;
			font-size: 32px;
			font-weight: 700;
			line-height: 40px;

			@media screen and (max-width: 1199px) {
				width: 100%;
				font-size: 28px;
				font-weight: 700;
				line-height: 32px;
				letter-spacing: -0.28px;
			}

			@media screen and (max-width: 779px) {
				width: 100%;
				font-size: 28px;
			}
		}

		&-description {
			margin: 16px 0 0 0;
			width: 70%;
			font-family: $--open-sans-font;
			line-height: 24px;
			letter-spacing: 0.25px;

			@media screen and (max-width: 1199px) {
				width: 100%;
			}

			@media screen and (max-width: 779px) {
				width: 100%;
				line-height: 22px;
			}
		}
	}

	&-bottom {
		display: flex;
		flex-direction: column;
		justify-content: end;
		grid-area: bottom;

		@media screen and (max-width: 779px) {
			display: none;
		}

		&-content {
			padding: 32px;
		}
	}

	&-info {
		grid-area: info;
		box-sizing: border-box;
		padding: 24px 0 0 24px;

		@media screen and (max-width: 779px) {
			display: block;
			padding: 0;
		}

		&-list {
			height: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 16px;

			@media screen and (max-width: 1199px) {
				grid-template-columns: none;
				grid-template-rows: 1fr 1fr;
			}

			@media screen and (max-width: 779px) {
				display: block;
				margin-top: 24px;
				gap: 8px;
			}

			&-card {
				background: $--bg-accent-inverse;
				text-align: center;
				align-content: center;
				border-radius: 20px;

				@media screen and (max-width: 1199px) {
					display: flex;
					grid-template-columns: 1fr 1fr;
					align-items: center;
					justify-content: space-around;
					border-radius: 12px;
				}

				@media screen and (max-width: 779px) {
					justify-content: space-between;
					padding: 12px 24px;

					&:nth-child(1) {
						margin-bottom: 8px;
					}
				}
			}
		}

		&-members-count,
		&-projects-count,
		&-members-description,
		&-projects-description {
			margin: 0;
			flex-direction: row;
			font-family: $--open-sans-font;
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 0.25px;
		}
	}
}
