@import '@/shared/style/variables';

.container {
	text-align: center;
	margin: 24px 0;
}

.scaleLabel {
	margin: 12px 0;
	display: flex;
	justify-content: center;
	column-gap: 10px;
}

.selectImageInput {
	width: 300px;
}
