@import '@/shared/style/variables.scss';

.pageContainer {
	max-width: 1160px;
	min-height: 100vh;
	@media screen and (max-width: 1199px) {
		max-width: 780px;
	}

	@media screen and (max-width: 779px) {
		padding: 0 16px;
	}
}

.projectsContainer {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 32px;

	@media screen and (max-width: 1199px) {
		gap: 16px;
		padding-top: 32px;
	}

	@media screen and (max-width: 779px) {
		padding: 24px 0 0;
	}
}

.filterContainer {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

.allFilterContainer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	margin-top: 32px;
}

.allFilterContainer > button:last-of-type {
	margin-left: auto;
}
.projects {
	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 32px;
	}
	&__inputSearch {
		min-width: 396px;
	}
	&__title {
		margin: 0;
		color: $--Foreground-default;
		font-family: $--open-sans-font;
		font-size: 28px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: -0.28px;
	}
	&__filterButton {
		display: none;
	}
	&__subtitle {
		margin-top: 20px;
		color: $--Foreground-default;
		font-family: $--open-sans-font;
		font-size: 20px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: -0.28px;

	}
}
@media screen and (max-width: 1199px) {
	.projects {
		max-width: 828px;
	}
}
@media screen and (max-width: 779px) {
	.projects {
		max-width: 100vw;
		padding: 0 16px;
		&__container {
			flex-direction: column;
			gap: 16px;
		}
		&__inputSearch {
			min-width: 272px;
			max-height: 40px;
			display: flex;
			justify-content: space-between;
			gap: 20px;
		}
		&__filterButton {
			width: 40px;
			height: 40px;
			background-color: $--Foreground-default;
			border-radius: 1000px;
			padding: 8px;
			cursor: pointer;
			display: flex;
			align-items: center;
		}
	}
	.filterContainer {
		display: none;
	}
}
.inputContainer {
	padding: 0;
	margin: 0;
	position: relative;
}

.input {
	width: 100%;
	display: block;
	padding: 12px 12px 12px 44px;
	margin: 0;
	border-radius: 12px;
	box-sizing: border-box;
	border: 1px solid $--border-default;
	font-family: $--open-sans-font;
	color: $--Foreground-default;
	background-color: $--bg-primary;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.25px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	&::placeholder {
		color: $--Foreground-subtitle;
	}

	&:disabled {
		opacity: 0.5;
	}
}

.icon {
	position: absolute;
	top: 14px;
	left: 12px;
}