.projectsContainer {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 56px;
}

.filterContainer {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

.allFilterContainer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}

.allFilterContainer > button:last-of-type {
	margin-left: auto;
}
