@import '../../../shared/style/variables.scss';

.datePicker {
	width: 100%;
	min-height: 52px;
}

.error {
	color: $--Foreground-error-default;
	font-feature-settings:
		'clig' off,
		'liga' off;
	font-family: $--open-sans-font;
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0.25px;
	display: inline-block;
	padding-top: 4px;
}
