@import '../../style/variables.scss';

%baseDefault {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 40px;
	transition: 0.4s;
}

.toggleCheckbox {
	position: relative;
	display: flex;
	width: 48px;
	height: 26px;
	box-sizing: border-box;
	align-items: center;
	cursor: pointer;

	&__input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	// styles for variant 'defaultOn'

	&__defaultOn {
		@extend %baseDefault;
		background-color: $--bg-accent-default;
		border: 2px solid $--bg-accent-default;
		&:hover {
			background-color: $--bg-accent-hover;
		}
		&:active {
			background-color: $--bg-accent-pressed;
		}
		&_disabled {
			background-color: $--bg-disabled;
			cursor: not-allowed;
			border: 2px solid $--bg-disabled;
		}
		&_disabled::before {
			background-color: $--bg-secondary;
		}
	}
	&__defaultOn::before {
		content: '';
		position: absolute;
		bottom: 2px;
		right: 2px;
		width: 18px;
		height: 18px;
		border-radius: 40px;
		background-color: $--bg-primary;
		transition: 0.4s;
	}
	&__input:checked + &__defaultOn {
		background-color: $--bg-primary;
		border: 2px solid $--bg-pressed;
	}

	&__input:checked + &__defaultOn::before {
		background-color: $--bg-pressed;
		left: 5px;
	}

	// styles for variant 'defaultOf'

	&__defaultOf {
		@extend %baseDefault;
		background-color: $--bg-primary;
		border: 2px solid $--bg-pressed;
		&_disabled {
			cursor: not-allowed;
			border: 2px solid $--bg-disabled;
		}
		&:hover {
			border: 2px solid $--bg-hover;
		}
		&:active {
			border: 2px solid $--bg-disabled;
		}
	}
	&__defaultOf::before {
		content: '';
		position: absolute;
		top: 2px;
		left: 5px;
		width: 18px;
		height: 18px;
		border-radius: 40px;
		background-color: $--bg-pressed;
		transition: 0.4s;
	}
	&__defaultOf_disabled::before {
		background-color: $--bg-disabled;
	}
	&__input:checked + &__defaultOf {
		background-color: $--bg-accent-default;
		border: 2px solid $--bg-accent-default;
	}
	&__input:checked + &__defaultOf::before {
		background-color: $--bg-primary;
		bottom: 2px;
		left: 24px;
	}

	// styles for variant 'errorDefaultOn'

	&__errorDefaultOn {
		@extend %baseDefault;
		background-color: $--foreground-error-default;
		border: 2px solid $--foreground-error-default;
		&:hover {
			background-color: $--border-error-hover;
		}
		&:active {
			background-color: $--border-error-pressed;
		}
	}
	&__errorDefaultOn::before {
		content: '';
		position: absolute;
		bottom: 2px;
		right: 2px;
		width: 18px;
		height: 18px;
		border-radius: 40px;
		background-color: $--bg-primary;
		transition: 0.4s;
	}
	&__input:checked + &__errorDefaultOn {
		background-color: $--bg-primary;
		border: 2px solid $--foreground-error-default;
	}
	&__input:checked + &__errorDefaultOn::before {
		background-color: $--foreground-error-default;
		left: 5px;
	}

	// styles for variant 'errorDefaultOf'

	&__errorDefaultOf {
		@extend %baseDefault;
		background-color: $--bg-primary;
		border: 2px solid $--foreground-error-default;
		&:hover {
			border: 2px solid $--border-error-hover;
		}
		&:active {
			border: 2px solid $--border-error-pressed;
		}
	}
	&__errorDefaultOf::before {
		content: '';
		position: absolute;
		top: 2px;
		left: 5px;
		width: 18px;
		height: 18px;
		border-radius: 40px;
		background-color: $--foreground-error-default;
		transition: 0.4s;
	}	
	&__input:checked + &__errorDefaultOf {
		background-color: $--foreground-error-default;
		border: 2px solid $--foreground-error-default;
	}

	&__input:checked + &__errorDefaultOf::before {
		background-color: $--bg-primary;
		bottom: 2px;
		left: 24px;
	}
}
