@import '../../style/variables.scss';

%baseDefault {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 40px;
	transition: 0.4s;
}

.toggleCheckbox {
	position: relative;
	display: flex;
	width: 48px;
	height: 26px;
	box-sizing: border-box;
	align-items: center;
	cursor: pointer;

	&__input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	// styles for variant 'defaultOn'

	&__defaultOn {
		@extend %baseDefault;
		background-color: #5677fc;
		border: 2px solid #5677fc;
		&:hover {
			background-color: #6e8afb;
		}
		&:active {
			background-color: #8caaff;
		}
		&_disabled {
			background-color: #94a3b8;
			cursor: not-allowed;
			border: 2px solid #94a3b8;
		}
		&_disabled::before {
			background-color: #e2e8f0;
		}
	}
	&__defaultOn::before {
		content: '';
		position: absolute;
		bottom: 2px;
		right: 2px;
		width: 18px;
		height: 18px;
		border-radius: 40px;
		background-color: white;
		transition: 0.4s;
	}
	&__input:checked + &__defaultOn {
		background-color: #feffff;
		border: 2px solid #1e293b;
	}

	&__input:checked + &__defaultOn::before {
		background-color: #1e293b;
		left: 5px;
	}

	// styles for variant 'defaultOf'

	&__defaultOf {
		@extend %baseDefault;
		background-color: white;
		border: 2px solid #1e293b;
		&_disabled {
			cursor: not-allowed;
			border: 2px solid #94a3b8;
		}
		&:hover {
			border: 2px solid #475569;
		}
		&:active {
			border: 2px solid #94a3b8;
		}
	}
	&__defaultOf::before {
		content: '';
		position: absolute;
		top: 2px;
		left: 5px;
		width: 18px;
		height: 18px;
		border-radius: 40px;
		background-color: #1e293b;
		transition: 0.4s;
	}
	&__defaultOf_disabled::before {
		background-color: #94a3b8;
	}
	&__input:checked + &__defaultOf {
		background-color: #5677fc;
		border: 2px solid #5677fc;
	}
	&__input:checked + &__defaultOf::before {
		background-color: #feffff;
		bottom: 2px;
		left: 24px;
	}

	// styles for variant 'errorDefaultOn'

	&__errorDefaultOn {
		@extend %baseDefault;
		background-color: #e75757;
		border: 2px solid #e75757;
		&:hover {
			background-color: #f28482;
		}
		&:active {
			background-color: #f3a9a9;
		}
	}
	&__errorDefaultOn::before {
		content: '';
		position: absolute;
		bottom: 2px;
		right: 2px;
		width: 18px;
		height: 18px;
		border-radius: 40px;
		background-color: white;
		transition: 0.4s;
	}
	&__input:checked + &__errorDefaultOn {
		background-color: #feffff;
		border: 2px solid #e75757;
	}
	&__input:checked + &__errorDefaultOn::before {
		background-color: #e75757;
		left: 5px;
	}

	// styles for variant 'errorDefaultOf'

	&__errorDefaultOf {
		@extend %baseDefault;
		background-color: white;
		border: 2px solid #e75757;
		&:hover {
			border: 2px solid #f28482;
		}
		&:active {
			border: 2px solid #f3a9a9;
		}
	}
	&__errorDefaultOf::before {
		content: '';
		position: absolute;
		top: 2px;
		left: 5px;
		width: 18px;
		height: 18px;
		border-radius: 40px;
		background-color: #e75757;
		transition: 0.4s;
	}	
	&__input:checked + &__errorDefaultOf {
		background-color: #e75757;
		border: 2px solid #e75757;
	}

	&__input:checked + &__errorDefaultOf::before {
		background-color: #feffff;
		bottom: 2px;
		left: 24px;
	}
}
