@import '../../../shared//style/variables.scss';

.linkProfile {
	margin-top: 24px;
	display: block;
	padding: 0 8px;
	font-family: $--open-sans-font;
	color: $--Foreground-link-default;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.25px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	min-width: 250px;
	text-decoration: none;
}
