@import '@/shared/style/variables.scss';

.popup {
	&_body {
		position: fixed;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: rgba(28, 28, 30, 0.3);
		animation-name: appear;
		animation-duration: 300ms;
	}

	&_wrapper {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 760px;
		box-sizing: border-box;
		padding: 56px;
		gap: 32px;
		border-radius: 12px;
		border: 1px solid $--border-default;
		background: $--bg-primary;
		z-index: 2;

		@media screen and (max-width: 779px) {
			overflow-y: auto;
			height: 100%;
			width: 100%;
			padding: 0;
			transform: none;
			top: 0;
			left: 0;
		}
	}

	&_content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// gap: 32px;
		align-self: stretch;
		font-family: $--montserrat-font;
	}
	&_title {
		align-self: flex-start;
		font-family: $--montserrat-font;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: 40px;
		color: $--Foreground-default;
	}
}

.xmark {
	position: absolute;
	right: 24px;
	top: 24px;
	cursor: pointer;

	@media screen and (max-width: 779px) {
		right: 20px;
		top: 33px;
		z-index: 10;
	}
}
