@import '@/shared/style/variables';

%text {
	margin: 0;
	color: $--Foreground-default;
	font-family: $--open-sans-font;
	font-style: normal;
}
%tag {
	padding: 4px 12px;
	color: $--Foreground-default;
	display: inline-block;
	border-radius: 20px;
	white-space: nowrap;
}
.projectsCard {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	margin-bottom: 80px;
	gap: 32px;
	@media screen and (max-width: 779px) {
		gap: 0;
	}
}
.link {
	display: flex;
	gap: 8px;
	align-items: center;
	@media screen and (max-width: 779px) {
		padding: 0 16px 0;
	}
}
.icon {
	width: 20px;
	height: 20px;
}
.linkProjects {
	text-decoration: none;
	color: $--Foreground-link-default;
	font-size: 16px;
	font-family: $--open-sans-font;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.25px;
}
.projectContainer {
	max-width: 1160px;
	padding: 32px;
	border-radius: 12px;
	border: 1px solid $--border-default;
	display: flex;
	flex-direction: column;
	@media screen and (max-width: 779px) {
		border: none;
		padding: 0 16px;
	}
}

.topInfo {
	position: relative;
	display: flex;
	justify-content: space-between;
	color: $--Neutral-Light-Grey-03;
}

.activeStateContainer {
	display: flex;
	align-items: center;
	padding: 5px 0 0 5px;

	@media screen and (max-width: 779px) {
		padding: 3px 0 0 3px;
	}
}

.activeStateIcon {
	padding-right: 14px;
	color: transparent;
	&_type_active {
		fill: $--Colors-Pastel-Green;
	}

	&_type_inactive {
		fill: $--Neutral-Light-Grey-03;
	}
}

.activeStateText {
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0.25px;
	color: $--foreground-muted;
	font-family: $--open-sans-font;
}

.like {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.calendarContainer {
	display: flex;
	align-items: center;
	padding-top: 15px;

	@media screen and (max-width: 779px) {
		padding-top: 6px;
	}
}

.calendarIcon {
	padding-right: 13px;
	width: 22px;
	height: 22px;
	color: $--Foreground-subtitle;
}

.date {
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0.25px;
	color: $--foreground-muted;
	font-family: $--open-sans-font;
}

.subtitleWrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.projectInfo {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.title {
	@extend %text;
	margin-top: 32px;
	font-size: 28px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: -0.28px;
}
.subtitle {
	@extend %text;
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.25px;
}
.description {
	@extend %text;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.25px;
}
.descriptionLink {
	@extend %text;
	color: $--Foreground-link-default;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.25px;
}

.personList {
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}
.personWrapper {
	display: flex;
	justify-content: flex-start;
}

.tagsList {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8px;
}
.tag {
	@extend %text, %tag;
	border: 1px solid $--border-default;
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0.25px;
}
.cardsContainer {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
