@import '../../../shared/style/variables.scss';

.navList {
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    align-items: center;
    min-width: 368px;
}

.navItem {
    list-style: none;
    color: $--White;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
}

.navLink {
    text-decoration: none;
}
