@import '../../../shared//style/variables.scss';

.profileSettings {
	&__profileLink {
		width: 100%;
	}
}

.formSettings {
	display: flex;
	flex-direction: column;
	padding: 32px;
	gap: 32px;
	box-sizing: border-box;
	min-width: 816px;
	border-radius: 12px;
	border: 1px solid $--border-default;
	margin-bottom: 24px;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	&__title {
		display: block;
		color: $--Foreground-default;
		font-family: $--open-sans-font;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.25px;
		margin: 0;
	}
	&__notify {
		display: flex;
		flex-direction: column;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 24px;
		border-bottom: 1px solid $--Foreground-subtitle;
	}
	&__item:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	&__subtitle {
		color: $--Foreground-default;
		font-family: $--open-sans-font;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
		letter-spacing: 0.25px;
		margin: 0;
	}
	&__icon {
		width: 24px;
		height: 24px;
		cursor: pointer;
	}
	&__deleteButton {
		display: flex;
		font-family: $--open-sans-font;
		color: $--Foreground-link-default;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
		letter-spacing: 0.25px;
		border: none;
		background-color: transparent;
		cursor: pointer;
		max-width: 148px;
	}
}

@media screen and (max-width: 1199px) {
	.profileSettings {
		margin-bottom: 48px;
	}
}

@media screen and (max-width: 779px) {
	.profileSettings {
		min-width: 100vw;
		margin-bottom: 0;
	}
	.formSettings {
		min-width: 100%;
		border: none;
		margin-bottom: 0;
		padding-bottom: 0;
		&__button {
			margin-bottom: 24px;
		}
	}
}

.deleteAccount {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	align-self: flex-start;

	&__buttons {
		display: flex;
		gap: 16px;
		// justify-content: space-between;
		// width: 648px;
	}
	&__text {
		margin: 0;
		margin-bottom: 32px;		color: $--Foreground-default;
		font-family: $--open-sans-font;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.25px;
	}
}
