// @import '@/shared/style/variables';
// .wrapper {
// 	box-sizing: border-box;
// 	border-bottom: 1px solid $--Foreground-subtitle;
// }

.menuList {
	display: none;
	flex-direction: column;
	list-style: none;
	margin: 24px 0 0;
	padding: 0;
	gap: 24px;

	&_visible {
		display: flex;
	}
}

	// &__subtitle {
	// 	color: $--Foreground-default;
	// 	font-family: $--open-sans-font;
	// 	font-size: 16px;
	// 	font-style: normal;
	// 	font-weight: 400;
	// 	line-height: 24px; /* 150% */
	// 	letter-spacing: 0.25px;
	// 	margin-left: 8px;
		
	// }

