@import '@/shared/style/variables';

%normalText {
	font-family: $--open-sans-font;
	/* Caption/C1 */
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	/* 135.714% */
	letter-spacing: 0.25px;
	color: $--Foreground-default;
	font-feature-settings:
		'clig' off,
		'liga' off;
}

%buttonLabelText {
	@extend %normalText;
	font-size: 16px;
	font-weight: 700;
}

%tooltipText {
	@extend %normalText;
}

.filterWrapper {
	max-width: 320px;
	position: relative;
}

.filterButton {
	@extend %buttonLabelText;
	width: fit-content;
	max-height: 40px;
	padding: 10px 16px;
	display: flex;
	align-items: center;
	gap: 8px;
	background-color: #feffff;
	cursor: pointer;
	border: 1px solid #c9cbce;
	border-radius: 50px;

	&_selected {
		background-color: #8caaff;
	}

	&_isActive {
		box-shadow: none;
		border: 1px solid #8caaff;
	}

	&:hover {
		box-shadow: 0px 0px 6px 0px rgba(132, 129, 255, 0.5);
	}

	&:focus {
		box-shadow: none;
		border: 1px solid #8caaff;
	}

	&__tooltip {
		@extend %tooltipText;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 25px;
		padding: 16px;
		background-color: $--bg-card-hover;
		border-radius: 12px;
		z-index: 1;
		white-space: nowrap;

		&::before {
			content: '';
			position: absolute;
			top: -17px;
			left: 50%;
			transform: translateX(-50%);
			width: 40px;
			height: 20px;
			background-image: url(../../../shared/assets/icons/tooltip-polygon.svg);
			background-size: cover;
		}
	}
}

.filterContainer {
	margin-block-start: 1em;
	padding: 8px 0;
	position: absolute;
	left: 0;
	z-index: 999;
	width: 328px;
	max-height: 308px;
	display: flex;
	flex-direction: column;
	background: #fff;
	border: 1px solid #e2e8f0;
	border-radius: 12px;
	box-shadow: 0px 0px 10px 0px rgba(21, 22, 23, 0.1);
	scrollbar-color: #e2e8f0 transparent;
}

.filterInput {
	margin: 8px 16px;
}

.filterList {
	padding: 0;
	margin: 0;
	overflow-y: auto;

	&__noResults {
		@extend %normalText;
		padding: 8px 12px;
		text-align: center;
	}
}

.iconInformation {
	display: none;

	@media screen and (max-width: 1199px) {
		display: flex;
	}
}
