@import '../../../shared//style/variables.scss';

.container {
	position: relative;
	width: 100%;
	gap: 8px;
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
&__title {
	margin: 0;
	padding: 0;
	color: $--Foreground-default;
	font-family: $--open-sans-font;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.25px;
}
	&__input {
		border: 1px solid $--border-default;
		background: $--bg-primary;
		padding: 8px 12px;
		cursor: pointer;
		border-radius: 8px;
		color: $--Foreground-default;
		font-family: $--open-sans-font;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
		letter-spacing: 0.25px;
	}

	&__dropdown {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		border-radius: 8px;
		border: 1px solid $--border-default;
		background: $--bg-primary;
		box-shadow: 0px 0px 10px 0px rgba(21, 22, 23, 0.1);
		width: calc(100% - 16px);
		padding: 8px;

		input {
			width: 100%;
			padding: 5px;
			box-sizing: border-box;
			border: 1px solid $--border-default;
			background: $--bg-primary;
			border-radius: 4px;
			margin-bottom: 8px;
			&:focus {
				outline: navy;
			}
		}
	}

	&__optionsList {
		list-style: none;
		padding: 0;
		margin: 0;
		max-height: 200px; /* Устанавливаем максимальную высоту элемента */
		overflow-y: auto; /* Включаем вертикальный scrollbar */
		padding-right: 10px; /* Добавляем правый отступ для прокрутки */
		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-track {
			background-color: $--bg-primary;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $--bg-secondary;
			border-radius: 4px;

			&:hover {
				background-color: $--bg-secondary;
			}
		}

		li {
			padding: 5px;
			cursor: pointer;
			color: $--Foreground-default;
			font-family: $--open-sans-font;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px; /* 150% */
			letter-spacing: 0.25px;

			&:hover {
				background-color: #f0f0f0; // Цвет при наведении
				background: $--bg-card-hover;
			}
		}
	}
}
