@import '@/shared/style/variables';

.checkboxContainer {
	display: flex;
	align-items: center;
	justify-items: center;
}

.checkbox {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.label {
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	color: var(--foreground-default, #020617);
	font-feature-settings:
		'clig' off,
		'liga' off;
	font-family: $--open-sans-font;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.25px;
	margin-left: 32px;
}

.label::before {
	content: '';
	height: 20px;
	width: 20px;
	border-radius: 4px;
	background-color: transparent;
	border: 2px solid #e2e8f0;
	position: absolute;
	left: -32px;
}

.checkbox:checked + .label::before {
	content: '';
	background-color: #5677fc;
	border: 2px solid #5677fc;
	// background-image: url('../../../shared/assets/icons/check-icon-white.svg');
	// background-size: contain;
	// background-repeat: no-repeat;
	// background-position: center;
}

.checkbox:active:checked + .label::before {
	content: '';
	background-color: #8caaff;
	border: 2px solid #8caaff;
}

.checkbox:not(:checked):active + .label::before {
	content: '';
	background-color: transparent;
	border: 2px solid #e8eeff;
}

.checkbox:checked:hover + .label::before {
	content: '';
	background-color: #6e8afb;
	border: 2px solid #6e8afb;
}

.checkbox:not(:checked):hover + .label::before {
	content: '';
	background-color: transparent;
	border: 2px solid #afbffe;
}

.checkbox:checked:disabled + .label::before {
	content: '';
	background-color: #afbffe;
	border: 2px solid #afbffe;
}

.checkbox:not(:checked):disabled + .label::before {
	content: '';
	background-color: transparent;
	border: 2px solid #e2e8f0;
}

.checkbox:checked + .label::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url('../../../shared/assets/icons/check-icon-white.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	left: -30px;
}
